# Database Configuration
# For SQLite (local development):
#DATABASE_URL=sqlite:///./tasks.db

# For PostgreSQL (Docker/Production):
DATABASE_URL=postgresql://postgres:postgres@db:5432/tasks

# Environment
ENVIRONMENT=development

SUPABASE_URL=https://qfoqqoxfiewnpiytqyme.supabase.co
SUPABASE_KEY=sb_publishable_HpXr_TXh23F2qzAdnMixMw_VpCb0nwV